apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: app-data-claim
  namespace: digilians-backend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: rancher-local-storage
