apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: digilians-backend
  labels:
    app: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      serviceAccountName: app-sa
      imagePullSecrets:
        - name: regcred
      containers:
        - name: backend
          image: mesterjoe/digilians:backend
          ports:
            - containerPort: 8000
          env:
            - name: ENV
              value: "production"
            - name: DB_HOST
              value: "db.digilians-backend.svc.cluster.local"
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "digilians"
            - name: DB_USER
              value: "digilians"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: password
