apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: digilians-backend
  labels:
    app: db
spec:
  clusterIP: None
  selector:
    app: db
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
